$primary-color: #00a087;
$liked-color: rgb(235, 108, 129);
$primary-font-color: #244751;
$primary-background-color:white;
$secondary-background-color: #eee;
$primary-border-color: grey;
$secondary-border-color: lightgrey;
$header-font-color: #e8fdff;
$nav-bar-dim: 80px;
$tweet-border-radius: 10px;
$compose-border-radius: 5px;
$mobile-font-size: medium;