@import 'sassvars';

#popup_login {
  display:block;
  align-self: center;
  width: 350px;
  background-color: $primary-background-color;
  border: 2px solid $primary-border-color;
  border-radius: $tweet-border-radius;
  margin: 2rem;
  padding: 0.5rem;

  label, input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

}

#popup_login.logged-in {
  display: none;
}

#login-container {
  // background-color: $primary-background-color;
  height: 100%;
  margin: 0 auto 0 auto;
  min-width: 450px;
  padding: 1rem;
  width: 450px;
  display: flex;
  flex-direction: column;
 //  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  #popup_login {
    display: block;
    font-size: $mobile-font-size;
    padding: 0.5rem;
    label, input {
      width: 25%;
    }
  }
}
