@import 'sassvars';

.new-tweet {
  background-color: $secondary-background-color;
  border: 2px solid $primary-border-color;
  border-radius: $tweet-border-radius;
  display: none;
  margin: 2rem;
  padding: 0.5rem;

  h2 {
    border-bottom: 2px solid $primary-font-color;
    margin: 0 0 1rem 0;
  }

  textarea {
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }
}

.counter {
  color:  $primary-font-color;
  float: right;
}

.input-error {
  color: red;
  display: none;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}