.new-tweet h2 {
  margin: 0 0 1em 0;
  border-bottom: 2px solid #244751;
}

.new-tweet textarea {
  width: 100%;
  padding: 0.5em;
  resize: none;
}

.counter {
  float: right;
  color:  #244751;
}

.new-tweet {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid Grey;
  border-radius: 10px;
  background-color: #eee;
}

.input-error {
  color: red;
  margin: 0.5em 0;
  font-size: 0.75em;
  display: none;
}