.new-tweet {
  background-color: #eee;
  border: 2px solid Grey;
  border-radius: 10px;
  display: none;
  margin: 2em;
  padding: 0.5em;
}

.new-tweet h2 {
  border-bottom: 2px solid #244751;
  margin: 0 0 1em 0;
}

.new-tweet textarea {
  padding: 0.5em;
  resize: none;
  width: 100%;
}

.counter {
  color:  #244751;
  float: right;
}

.input-error {
  color: red;
  display: none;
  font-size: 0.75em;
  margin: 0.5em 0;
}